@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --blue-grey: #474853;
    --light-purple: #CAB4DE;
    --dark-grey: #CCCCCC;
    --white: #FAFAFA;
}

* {
	cursor: default;
    font-family: montserrat, "lucida sans unicode", Arial;
    font-weight: 400;
    font-size: min(1vw, 20px);
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--blue-grey);
	color: var(--light-purple);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

h1, h2, p, b {
	font-size: 4rem;
	margin: auto;
}

h2 {
     font-size: 2rem;
}

p,b {
    font-size: 1.5rem;
}

ul,
li	{
	list-style: none;
    text-align: center;
}

button {
    cursor: pointer;
	display: flex;
	justify-content: center;
	margin: auto auto 1rem auto;
	padding: 0.6rem 1rem;
	font-size: 1.3rem;
    border-radius: 2px;
    border: none 0;
    color: black;
    box-shadow: 2px 2px 2px var(--dark-grey);
    transition: all 75ms ease;
}

button:disabled {
    color: lightgray
}

button:hover {
	transform: scale(1.1);
    background-color: var(--dark-grey)
}

button:focus {
    outline: none;
}

button:active {
    opacity: .75;
    background-color: var(--white);
}

#modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 70vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
    background-color: white;
    transition: opacity 0.4s ease;
}

#modal > h2, #modal > p, #modal > b {
    font-size: 2rem;
}

.display {
    opacity: 0%;
    pointer-events: none;
}

#emoji {
    margin-top: 2rem;
    max-width:50%;
    max-height:50%;
    width: auto;
    height: auto;
}

#retry {
    width: 50%;
    margin-bottom: 4rem;
}

#main-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem;
    width: 90vw;
    height: 70vh;
    border-radius: 1rem;
    background-color: var(--white);
    transition: opacity 40ms ease;
}

.background {
    pointer-events: none;
    background-color: gray;
    opacity: 70%;
}

#hangman-wrap {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 4;
}

#character {
    margin: auto;
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
}

#gameside-wrap {
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 35% 15% 50%;
    grid-auto-columns: 1fr;
}

#guess {
    display: flex;
    gap: 1.3rem;
    margin: auto auto 4rem auto;
}

.letter {
    width: 3rem;
    font-size: 3rem;
    border-bottom: 2px solid var(--dark-grey);
    text-transform: uppercase;
}

#hint-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#alphabet {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    max-width: 80%;
    max-height: 80%;
}

#alphabet > button {
    width: calc(100% / 9 - 1.2rem );
}

@media screen and (max-width: 100vh) {

    * {
        font-size: min(2.5vw, 10px);
    }

    #modal {
        width: 70vw;
        height: 50vh;
    }

    #main-wrap {
        height: 70vh;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 50%);
    }

    #hangman-wrap {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #gameside-wrap {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-rows: 20% 20% 60%;
    }

    #guess {
        margin-bottom: 1rem;
    }
}
